{% extends "_base.html" %}

{% block content %}
<div class="starter-template">
  <div class="login_url" style="display: inline-block; margin: 0 0 0 50vw;">
    <a href="/login" style="margin: 10px;">Login</a>
    <a href="/register" style="margin: 10px;">Register</a>
  </div>
  <hr><br>
  <h1>File upload</h1>
  <p>Show a file-select field which allows a file to be chosen for upload:</p>
  <label for="fileInput">Select a file:</label>
  <input type="file" id="fileInput" multiple>
  <img id="imagePreview" style="max-width: 300px; max-height: 300px;" />
  <div class="btn-gr" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" onclick="handleUpload()">Chuyển</a>
  </div>

  <hr><br>
  <div>
    <h3>PRODUCT</h3>
    <p>Pick a task length.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" onclick="handleShowHistory()">History</button>
    </div>
  </div>
  <br><br>
  <div>
    <h3>Task Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image Link</th>
          <th>Audio Link</th>
          <th>CreatedAt</th>
          <th>UpdatedAt</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>
<style>
  .padding{
    color:green;
  }
</style>
<script>
  window.addEventListener("load", function() {
    if(sessionStorage.getItem("token")){
      fetch("https://serverltmnc.onrender.com/login/decoded", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": sessionStorage.getItem("token")
        },
      }).then(response=>response.json())
      .then((data) =>{
        const elementLogin = document.querySelectorAll('.login_url');
        elementLogin[0].innerHTML = `<a href="/profile" style="margin: 10px;">${data.user.name}</a><a href="/" style="margin: 10px;" onclick="handleLogout()">Logout</a>`
      })
        .catch((error) => {
            console.error("Error:", error);
        });
    }
  });
  function handleLogout(){
    sessionStorage.clear();
    window.location.href = "/";
  }
  const fileInput = document.getElementById('fileInput');
  const imagePreview = document.getElementById('imagePreview');
  function handleShowHistory(){
    fetch("https://serverltmnc.onrender.com/login/decoded", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "Authorization": sessionStorage.getItem("token")
      },
    }).then(response=>response.json())
    .then((data) =>{localStorage.setItem('id', JSON.stringify(data.user._id));})
      .catch((error) => {
          console.error("Error:", error);
      });

    var id_user=JSON.parse(localStorage.getItem('id'));
    localStorage.removeItem('id');
    console.log(id_user);
    var res = fetch(`https://serverltmnc.onrender.com/product/${id_user}`, {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
      }
    }).then(response=>response.json())
    .then((data) =>{localStorage.setItem('Products', JSON.stringify(data.Products));})
      .catch((error) => {
          console.error("Error:", error);
      });
    var Products = JSON.parse(localStorage.getItem('Products'));
    localStorage.removeItem('Products');
    console.log(Products)
    var html="";
    Products.forEach((product)=>{
      if(product.audio_link=="Padding"){
        const text = `
        <tr>
          <td>${product._id}</td>
          <td><a href="${product.img_link}" target="_blank">${product.img_link}</a></td>
          <td style="
          color: green;
          font-weight: 600;
          ">${product.audio_link}</td>
          <td>${product.createdAt}</td>
          <td>${product.updatedAt}</td>
        </tr>`;
        html=html.concat(text);
      }
      else if(product.audio_link=="Error"){
        const text = `
          <tr>
            <td>${product._id}</td>
            <td><a href="${product.img_link}" target="_blank">${product.img_link}</a></td>
            <td style="
            color: red;
            font-weight: 600;
            ">${product.audio_link}</td>
            <td>${product.createdAt}</td>
            <td>${product.updatedAt}</td>
          </tr>`;
          html=html.concat(text);
      }
      else{
          const text = `
            <tr>
              <td>${product._id}</td>
              <td><a href="${product.img_link}" target="_blank">${product.img_link}</a></td>
              <td><a href="${product.audio_link}" target="_blank">${product.audio_link}</a></td>
              <td>${product.createdAt}</td>
              <td>${product.updatedAt}</td>
            </tr>`;
            html=html.concat(text);
      }
      });
    console.log(html);
    const newRow = document.getElementById("tasks");
    newRow.innerHTML = html;
    }
  fileInput.addEventListener('change', function() {
      const selectedFile = fileInput.files[0];
  });
  async function handleUpload() {
      const selectedFile = fileInput.files[0];
      if (selectedFile) {
        try {
          const CLOUD_NAME = "dbaul3mwo";
          const PRESET_NAME = "ske802vb";
          const FORDER_NAME = "Image";
          const urls = [];
          const api = `https://api.cloudinary.com/v1_1/${CLOUD_NAME}/image/upload`
          const formData = new FormData(); // Tạo đối tượng FormData
          formData.append("upload_preset", PRESET_NAME); // Thêm giá trị upload_preset và
          formData.append("forder", FORDER_NAME);

          for (const file of fileInput.files){
            formData.append("file", file);
            const response = await fetch(api, {
              method: 'POST',
              mode: 'cors',
              body: formData,
            })
            response.json().then((data)=>{urls.push(data.secure_url)})
            .catch((error) => {
              console.error("Error:", error);
            });
          }  

          const response =await fetch("https://serverltmnc.onrender.com/login/decoded", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
                  "Authorization": sessionStorage.getItem("token")
              },
            })
              
          response.json().then((data) =>{localStorage.setItem('id', JSON.stringify(data.user._id));})
            .catch((error) => {
                console.error("Error:", error);
            });

          var id_user=JSON.parse(localStorage.getItem('id'));
          localStorage.removeItem('id');
          
          var ListProduct = [];
          for(const url of urls){
            product = {
              img_link:url,
              audio_link:"Padding",
              user_id:id_user
            }
            const response =await fetch("https://serverltmnc.onrender.com/product/addProduct", {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json",
                  },
                  body: JSON.stringify(product),
              })
            response.json().then((data)=>{ListProduct.push(data)})
              .catch((error) => {
                console.error("Error:", error);
              });
          }
          ListProduct.forEach((product)=>{
            var data = {
              "id_product":product._id,
              "img_link":product.img_link,
              "user_id":product.user_id
            }
            console.log(data);
            fetch("http://157.245.62.82:8004/tasks_train_ai", {
              method: "POST",
              mode: "no-cors",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(data)
            })
              .then(response => response.json())
              .then(data => {
                console.log(data);
              })
              .catch(error => {
                console.error("Lỗi:", error);
              });        
          });
          var data = {
            "id_product":ListProduct[ListProduct.length-1]._id,
            "img_link":ListProduct[ListProduct.length-1].img_link,
            "user_id":ListProduct[ListProduct.length-1].user_id
          }
          fetch("http://157.245.62.82:8004/tasks_train_ai", {
            method: "POST",
            mode: "no-cors",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
          })
            .then(response => response.json())
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error("Lỗi:", error);
            });
        } catch (error) {
            console.log(error);
        }
      }
  }
</script>
{% endblock %}
